html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    padding-top: 0;
    color: #4D4D4D;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.icons {
    margin-top: -113px;
    padding-bottom: 37px;
    position: relative;
    text-align: center;
}

.icons figure {
    vertical-align: bottom;
    display: inline-block;
    color: white;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 85%;
}

.icons figcaption {
    line-height: 1.1;
}

.navbar {
    background: white;
    border: none;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

ul.nav {
    float: none;
}

ul.nav>li {
    float: none;
    display: inline-block;
    font-size: 18px;
    color: rgb(41, 74, 143);
    margin-bottom: 0;
}

ul.nav>li>a {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(41, 74, 143);
    background: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: rgb(41, 74, 143);
    background: white;
    font-weight: bold;
}

.navbar-header div {
    display: inline-block;
}

.pagetop {
    text-align: right;
}

.pagetop div {
    display: inline-block;
    color: white;
    background-color: #4E4C4D;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 57px;
    padding-left: 57px;
}

.pagetop div:first-child {
    padding-right: 0;
}

.pagetop .note {
    background-color: #FF4900;
    font-style: italic;
}

.pagetop .contact {
    padding-right: 50px;
    padding-left: 50px;
}

h2 {
    font-weight: bold;
    font-size: 21px;
    color: rgb(41, 74, 143);
    margin-top: 40px;
    margin-bottom: 25px;
}

.container h2:first-of-type {
    margin-top: 0px;
}

h2.subtitle {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 150%;
    color: #4D4D4D;
}

.bold {
    font-weight: bold;
}

.nobottomspace {
    margin-bottom: 0;
}

.bigspaces {
    margin-left: 6px;
    margin-right: 6px;
}

.biggerspaces {
    margin-left: 15px;
    margin-right: 15px;
}

.btn-info {
    margin-top: 7px;
    margin-bottom: 7px;
    background-image: linear-gradient(to bottom, #0094DE 0, #2aabd2 100%);
}

.btn-orange {
    background-color: #FF4900;
    color: white;
}

select {
    min-height: 100px;
}

.hr-blue-new {
    padding: 0;
    margin: 0;
    border: none;
    border-top: 1px solid rgb(0, 83, 163);
    background-color: rgb(0, 83, 163);
}

.hr-blue-new-title {
    text-align: center;
    width: 100%;
    margin-top: -17px;
    margin-botom: 75px;
}

.hr-blue-new-title span {
    background: white;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.hr-blue-new-title p {
    margin-top: 15px;
}

.hr-blue {
    padding: 0;
    border: none;
    border-top: 1px solid #2FA8E4;
    background-color: #2FA8E4;
    text-align: center;
}

.hr-blue:after {
    content: "Spokojení klienti";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.7em;
    font-weight: bold;
    color: #2FA8E4;
    padding: 0 0.25em;
    background: white;
}

.hr-blue-subtitle {
    text-align: center;
    color: #2FA8E4;
    font-size: 1.2em;
    margin-bottom: 75px;
}

.hr-blue-simple {
    color: #2FA8E4;
    background-color: #2FA8E4;
    height: 1px;
}

.hr-grey-simple {
    color: #5D5D5D;
    background-color: #5D5D5D;
    height: 1px;
}

.hr-orange {
    padding: 0;
    border: none;
    border-top: 1px solid #FF4900;
    background-color: #FF4900;
    text-align: center;
}

.hr-orange:after {
    content: "Co vás nejčastěji zajímá";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.7em;
    font-weight: bold;
    color: #FF4900;
    padding: 0 0.25em;
    background: white;
}

.hr-orange-subtitle {
    text-align: center;
    color: #FF4900;
    font-size: 1.2em;
}

h3.main {
    font-size: 150%;
    color: #4D4D4D;
    font-weight: bold;
    margin-bottom: 7px;
}

h3.subtitle {
    margin-top: 0;
    padding-bottom: 5px;
    font-size: 125%;
}

p.citation {
    font-style: italic;
}

ul {
    margin-top: 25px;
    padding-left: 40px;
    list-style-type: none;
}

ul>li {
    margin-bottom: 12px;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed>li {
    text-indent: -8px;
}

ul.dashed>li:before {
    content: "- ";
    text-indent: -5px;
}

ul.list-faq {
    margin-top: 75px;
    padding-left: 0;
    margin-bottom: 90px;
    font-size: 150%;
    font-style: italic;
    list-style-type: none;
}

ul.list-faq>li {
    margin: 10px;
}

ul.list-items {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 30px;
}

ul.list-items>li {
    margin: 4px;
}

ul.chapters>li {
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 7px;
}

ul.chapters>li>a {
    color: #5D5D5D;
}

ul.chapters>li>a:hover {
    color: #2FA8E4;
    text-decoration: none;
}

.banner-contacts {
    background-color: #FF4900;
    color: white;
    font-size: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.banner-grey {
    background-color: #5D5D5D;
    color: white;
    font-size: 100%;
    padding-top: 80px;
    padding-bottom: 110px;
    margin-bottom: -85px;
}

.banner-grey-small {
    background-color: #5D5D5D;
    color: white;
    font-size: 100%;
    padding-top: 15px;
}


/*.img-mini {
    margin: 15px;
    background-color: white;
    padding: 6px;
}*/

.prefooter {
    margin-top: 60px;
}

.prefooter .row {
    margin-bottom: 40px;
}

.prefooter .sites img {
    margin-left: 6px;
    margin-right: 6px;
}

.spacing-left {
    margin-left: 50px;
    margin-top: 25px;
}

h4 {
    font-weight: bold;
    margin-bottom: 0;
}

.double-margin-bottom {
    padding-bottom: 75px;
}

.panel-default {
    border: 0;
    padding-bottom: 45px;
    box-shadow: 0;
}

.panel {
    box-shadow: 0 0 0;
}

.panel-default>.panel-heading {
    background-image: none;
    background-color: white;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
}

.panel-body>ul {
    list-style-type: disc;
    margin-bottom: 20px;
    padding-left: 15px;
}

.panel-heading>h4 {
    color: #2FA8E4;
    font-size: 190%;
}

.panel-group .panel:first-child {
    margin-top: 60px;
}

.panel-body>h5 {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 20px;
    margin-top: 40px;
}

.panel-body>h5:first-of-type {
    margin-top: 10px;
}

.text-red {
    color: red;
}

.text-orange {
    color: #FF4900;
}

.text-blue {
    color: #2FA8E4;
}

.text-grey {
    color: #5D5D5D;
}

.text-dark {
    color: black;
}

.text-larger {
    font-size: 125%;
}

.logotext {
    font-size: 115%;
}

.logotext-top {
    vertical-align: -7px;
}

.prefooter .text-left {
    padding-top: 25px;
}

.prefooter .text-right {
    padding-top: 25px;
}

.main-content {
    margin-bottom: 40px;
}

ol {
    padding-left: 20px;
    padding-top: 10px;
}

.download-document {
    display: inline-block;
    background-color: #E4E4E4;
    margin: 8px;
    padding: 8px;
}

.download-document p {
    margin-bottom: 0;
}

.download-document a {
    font-style: initial;
    text-decoration: underline;
    color: red;
}

.download-document a:hover {
    text-decoration: none;
}

h4.item-group {
    margin-bottom: 10px;
}


/*.col-md-6:first-of-type,
.col-md-7:first-of-type {
    padding-left: 38px;
}*/

.btn-orange:hover,
.btn-orange:focus {
    background-color: #FF5B1A;
    color: white;
}

.btn-blue {
    background-color: #0094de;
    color: white;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #00aaff;
    color: white;
}

.prefooter {
    max-width: 800px;
}

.prefooter .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}

textarea {
    resize: none;
}

.container-narrow {
    max-width: 700px;
}

.prefooter .little-note-right span {
    white-space: nowrap;
    font-size: 75%;
}

.prefooter .little-note-right {
    line-height: 1.1;
}

footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgb(41, 74, 143);
    width: 100%;
}

.container-footer {
    color: white;
    font-size: 12px;
}

.container-footer div table {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container-footer .contact-table-footer {
    border-collapse: separate;
    border-spacing: 8px 0;
}

.container-top .col-md-8 {
    padding-right: 51px;
}

.contact-table {
    color: white;
    text-align: left;
}

.top-contact-box {
    height: 100%;
    width: 100%;
    min-width: 260px;
    max-width: 302px;
    float: right;
    background-color: rgb(0, 143, 183);
    background-image: url("../img/box_corner_light_blue.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.top-contact-box .contact-table {
    margin-left: 13%;
    margin-top: 5%;
}

.top-contact-box .contact-table td {
    min-width: 55px;
}

.footer-contact-box .contact-table td {
    min-width: 40px;
}

.contact-table tr td:last-of-type {
    font-weight: bold;
}

.prefooter {
    min-width: 100%;
}

.background-row {
    width: 100%;
    height: 108px;
    background-color: rgb(228, 228, 228);
    margin-top: -110px;
}

.images-row {
    /*width: 1000px;*/
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.images-row>div[class^='images-row-col-'] {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.images-row>div[class^='images-row-col-']>div {
    height: 65px;
    width: 100%;
    display: table;
}

.images-row>div[class^='images-row-col-']>div>p {
    font-size: 12px;
    color: rgb(41, 74, 143);
    line-height: 1.2;
    vertical-align: middle;
    display: table-cell;
}


/*.images-row>div[class^='col-']>img {
    padding: 0;
    margin: 0;
}*/

.wpqr-text-box {
    display: inline-block;
}

.wpqr-text-box p,
.wpqr-text-box ol li {
    font-size: 16px;
}

.wpqr-text-box h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 9px;
}

.wpqr-text-box-1 {
    padding-top: 14px;
    width: 100%;
    height: 147px;
    background-color: rgb(0, 143, 183);
    background-image: url("../img/box_corner_light_blue.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.wpqr-text-box-2 {
    padding-top: 0;
    width: 100%;
    height: 147px;
    margin-top: 7px;
    background-color: rgb(95, 214, 112);
    background-image: url("../img/box_corner_green.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.wpqr-text-box-1,
.wpqr-text-box-2 {
    padding-left: 35px;
}

.wpqr-text-box-2 h3 {
    margin-top: 9px;
}

.wpqr-text-box-1 p,
.wpqr-text-box-2 p {
    max-width: 275px;
}

.wpqr-text-box-2 p {
    margin-top: 15px;
}

.wpqr-text-box-3 {
    max-width: 646px;
    height: 301px;
    padding-left: 80px;
    background-color: rgb(41, 74, 143);
    background-image: url("../img/box_corner_dark_blue.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.wpqr-text-box-3>* {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.wpqr-text-box-3>div:first-child {
    width: 29%;
}

.wpqr-text-box-3>div:last-child {
    width: 70%;
}

.wpqr-text-box-3 p {
    font-size: 22px;
    font-weight: bold;
    margin-top: 57px;
    margin-left: 35px;
    width: 139px;
}

.wpqr-text-box-3 ol {
    margin-top: 35px;
}

.wpqr-text-box-3 ol>li {
    margin-bottom: 10px;
}

.wpqr-arrows {
    height: 301px;
    background-image: url("../img/wpqr_arrows.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
}

.reference-text-box {
    width: 230px;
    height: 80px;
    background-image: url("../img/reference/text_box.png");
    color: white;
    font-size: 90%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.references-container>.row>div {
    padding-top: 90px;
    padding-bottom: 90px;
}

.row {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.link-new {
    color: #FF5B1A;
    font-size: 130%;
    font-weight: bold;
    text-decoration: underline;
}

.row-top {
    margin-top: 27px;
    margin-bottom: 27px;
}

.row-narrow {
    margin-top: 0;
    margin-bottom: 0;
}

.row-top>div {
    height: 68px;
}

.row-top .logo-container {
    padding-left: 0;
}

@media (max-width: 991px) {
    .row-top .logo-container {
        text-align: center;
    }
    .top-contact-box {
        padding-top: 1px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

.container {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 1200px) {
    .container {
        width: 1107px;
    }
    .container.references-container {
        width: 1180px;
    }
    .container-footer {
        width: 575px;
    }
}

@media (max-width: 767px) {
    .container-footer>div {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .container-footer div:first-of-type table {
        margin-right: 32px;
    }
    .container-footer div:last-of-type table {
        margin-left: 18px;
    }
}


/*.container-top .row {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}*/

.container-top .text-right p,
.container-top .text-right img {
    display: inline-block;
}

.container-top .text-right p {
    margin: 0;
    padding-right: 30px;
    vertical-align: top;
    padding-top: 28px;
    color: #FF5B1A;
    font-weight: 800;
    font-size: 112%;
}

.container-top .text-right img {
    padding-right: 24px;
}

.row-wpqr {
    color: white;
}

.row>.row {
    margin-top: 0;
    margin-bottom: 0;
}

.row-wpqr>.row:first-of-type>div:last-of-type {
    text-align: right;
}

.row-wpqr h2>span {
    font-weight: normal;
}

span.link-to-download {
    color: rgb(41, 74, 143);
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 25px;
    display: inline-block;
}

span.link-to-download a {
    color: #FF5B1A;
    font-weight: bold;
}

span.link-to-download a:hover {
    color: #DB3E00;
    text-decoration: none;
}

.row-main {
    margin-bottom: 140px;
}

.carouselBackground {
    background: rgb(8, 8, 18);
    /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(left, rgb(8, 8, 18), rgb(7, 7, 17));*/
    /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(right, rgb(8, 8, 18), rgb(7, 7, 17));*/
    /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(right, rgb(8, 8, 18), rgb(7, 7, 17));*/
    /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to right, rgb(8, 8, 18), rgb(7, 7, 17));*/
    /* Standard syntax (must be last) */
    background-size: cover;
    margin-bottom: 25px;
}

.carousel {
    margin: auto;
}

.carousel .carousel-inner {
    max-width: 1107px;
    margin: auto;
}

.carousel>.carousel-inner>.item>.banner-caption-container {
    position: absolute;
    bottom: 0;
}

.carousel>.carousel-inner>.item>.banner-caption-container>.banner-caption-table {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.carousel>.carousel-inner>.item>.banner-caption-container>.banner-caption-table>p {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 18px;
    padding-left: 7px;
    padding-right: 7px;
}

@media (max-width: 575px) {
    .carousel>.carousel-inner>.item>.banner-caption-container {
        display: none;
    }
}

@media (max-width: 767px) {
    .carousel>.carousel-inner>.item>.banner-caption-container>.banner-caption-table>p {
        font-size: 10px;
    }
}

.carousel.fade {
    opacity: 1;
}

.carousel.fade .item {
    transition: opacity ease-out .7s;
    left: 0;
    opacity: 0;
    /* hide all slides */
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
}

.carousel.fade .item:first-of-type {
    top: auto;
    opacity: 1;
    /* show first slide */
    position: relative;
}

.carousel.fade .item.active {
    opacity: 1;
}

#carouselTypeSwitch {
    position: fixed;
    top: 0;
    left: 30px;
}

.image {
    width: 250px;
    height: 250px;
    margin-right: 10px;
    float: left;
    overflow: hidden;
    cursor: pointer;
}

.hover-zoom,
.hover-zoom-container>*,
.hover-zoom-container-triggered {
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.hover-zoom:hover,
.hover-zoom-container>*:hover,
.hover-zoom-container-triggered.hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

form.contact-form {
    background: rgb(228, 228, 228);
    font-size: 90%;
}

form.contact-form h2 {
    color: #FF5B1A;
    background: white;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 27px;
    margin-bottom: 10px;
}

form.contact-form .form-group {
    margin-bottom: 15px;
    padding-left: 7px;
    padding-right: 7px;
}

form.contact-form button {
    background-image: url("../img/box_corner_orange.png");
    width: 100%;
    height: 41px;
    background-repeat: no-repeat;
    background-position: right bottom;
    border: none;
    border-radius: 0;
}

form.contact-form option {
    font-size: 90%;
}

.language-select-container {
    text-align: right;
}

@media (max-width: 991px) {
    .language-select-container {
        text-align: center;
    }
    .wpqr-arrows {
        display: none;
    }
    .wpqr-text-box-3 {
        margin-top: 7px;
        max-width: 100%;
        width: 100%;
    }
}

form.language-select {
    display: inline-block;
    padding: 18px;
    padding-right: 18px;
}

form.language-select input {
    background: none;
    border: none;
    color: #FF5B1A;
    font-size: 21px;
    font-weight: bold;
}

form.language-select input:hover {
    color: #DB3E00;
}

form.language-select input.language-selected {
    display: none;
}

.invisible {
    display: none;
}

div[class^='col-'] {
    padding: 0;
}

.about-us-container>.row:nth-of-type(1) {
    margin-top: 123px;
    margin-bottom: 0;
}

.about-us-container>.row:nth-of-type(2) {
    margin-top: 0;
    margin-bottom: 115px;
}

.about-us-container ul {
    margin-top: 35px;
    margin-bottom: 0;
}

.about-us-container ul>li {
    margin-bottom: 17px;
}

.about-us-container ul>li:last-child {
    margin-bottom: 0;
}

.about-us-row {
    margin-top: 120px;
    margin-bottom: 100px;
}

.about-us-row>.row {
    margin-top: 15px;
    /*text-align: center;*/
}

.about-us-row>.row>div[class^='col-']>img {
    margin-bottom: 15px;
}

.about-us-row>div[class^='col-'] {
    position: relative;
    padding-left: 30px;
}

.logos-container {
    min-width: 150px;
}

.logos-container>img {
    position: absolute;
    right: 8px;
    margin: 0;
    padding: 0;
}

.logos-container>img:first-of-type {
    top: 0;
}

.logos-container>img:last-of-type {
    bottom: 0;
}

.images-row-col-8 {
    width: 134px;
    height: 210px;
    display: inline-block;
    vertical-align: middle;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}   